<!doctype html>
<html>
<head>
<title><%=title%></title>
</head>
<style type="text/css">
	#test{
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;

		border-left: 20px solid green;
	}
</style>
<body>
<script src="./modules/b.js"></script>
<div id="test"></div>
</body>
</html>